body {
    font-family: "Lato", sans-serif;
    background-color: #d3d3d3;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: #ff9900;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: #ff91a4;
}

.first-word {
    color: #ff9900;
    font-weight: bolder;
}

.boxes {
    margin: 0.5rem;
    padding: 1.5rem;
    border: solid #ffff00;
    border-radius: 15px;
    width: 30em;
    display: block;
}

#box1 {
    background-color: #db7093;
}

#box2 {
    background-color: #7093db;
}

#box3 {
    background-color: #70db93;
}

#box4 {
    background-color: #9370db;
}

.image-for-boxes {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #daa520;
    position: absolute;
    left: 4rem;
}

h1 {
    color: #fff333;
}

.original {
    color: #dc143c;
}

.additional {
    color: #d2691e;
}

#show1 {
    color: #ff5733;
}

#show2 {
    color: #2ecc71;
}

#show3 {
    color: #f39c12;
}

#show4 {
    color: #2980b9;
}

#show5 {
    color: #daf7a6;
}

li {
    color: #145a32;
}

.star {
    color: #922b21;
}

#wars {
    color: #9c640c;
}

.lists {
    border: 2px solid #000;
}

