body {
    font-family: "Lato", sans-serif;
    background-color: #d3d3d3;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: #ff9900;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: #ff91a4;
}

.first-word {
    color: #ff9900;
    font-weight: bolder;
}

.boxes {
    margin: 0.5rem;
    padding: 1.5rem;
    border: solid #ffff00;
    border-radius: 15px;
    width: 30em;
    display: block;
}

#box1 {
    background-color: #db7093;
}

#box2 {
    background-color: #7093db;
}

#box3 {
    background-color: #70db93;
}

#box4 {
    background-color: #9370db;
}

.image-for-boxes {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #daa520;
    position: absolute;
    left: 4rem;
}